body {
    font-family: arial, helvetica;
    background-color: floralwhite;
    color: #26201a;
    margin: 0 0;

}

h1 {
    color: #f3ca08;
}

h2
{
    color: #f3a608;
    font-size: 30px;

}

a:link {
  color: #fff; 
  
  border-botton: 1px dashed;
}
a:visited {
  color: #ccc; 
 
  
}



    header, footer {
        background-color: #996633;
        color: #f3a608;
        width: 100%;
        margin: 0;
        margin-bottom: 0;
        height: 100%; 

    }

.navigation {
    text-align: center;
    padding-top: 10px;
   
    word-spacing: 100px;
    font-size: 30px;
    
}

    footer
    {
    height: 100%;
    text-align: center;
    padding-top: 10px;
    }

    table
    {
    border-style: solid;
    border-color: #a4530d;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    }

.midle {
    
    width: 850px;
    margin: auto;
    background-color: #deb887;
    margin-left: auto;
    margin-right: auto;


 
   
}



        table th {
            border: 2px solid #a4530d;
            
        }

 table td 
 {
    border: 2px solid #a4530d;
 }

  .odd
  {
    background: #ffde81;
 }
.evv
    {
        background: #d3ff81;
    }





.logoo {

      float: left;
  padding-right: 10px;
}

.logo {
  
   
 width: 100%;
    margin: 0px;
   
    padding-top: 10px;
    padding-bottom: 1px;
    padding-right: 0px;
  margin-right: 30%;
}

 .hh
{
    margin-left: 60px;
    padding-left: 60px;
}




#table{
  order: 1;
}
table{
  border-collapse: collapse;
  margin: 10px auto;
}
#table th{
  border: 1px solid black;
}
#table td{
  border: 1px solid black;
}
.one{
  background: #ACAED7;
}
.two{
  background: #EBDBD1;
}
.footer{
  display:flex;
  justify-content:flex-end;
  width: 100%;
}


@media only screen and (min-device-width: 768px){
  .header{
    padding-left: 0;
    padding-right: 0;
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  .midle{

    padding: 20px;
  }
  .midle{
    width: 80%;
  }
  #table{
    order: 0;
  }
 #logo{
    order: 0;
  }

#form{
    order: 0;
}
}